{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "indent": [0, 2, { "SwitchCase": 1 }],
    "react/jsx-indent": ["warn", 2],
    "react/require-default-props": "off",
    "quotes": ["error", "single"],
    "react/prop-types": 0,
    "react/destructuring-assignment": "off",
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }]
    // "react/jsx-one-expression-per-line": ["error", { "allow": "literal" }]
    // "react/jsx-one-expression-per-line": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
