.form-qty--mobile.form-qty > form > div:first-child::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  background-image: url('../../images/cards/mobile/bg-cards-1.png'),
    url('../../images/cards/mobile/bg-cards-5.png'),
    url('../../images/cards/mobile/bg-cards-10.png'),
    url('../../images/cards/mobile/bg-cards-100.png'),
    url('../../images/cards/mobile/bg-stage-1a.png'),
    url('../../images/cards/mobile/bg-stage-1b.png'),
    url('../../images/cards/mobile/bg-stage-1c.png'),
    url('../../images/cards/mobile/bg-stage-2.png'), url('../../images/cards/mobile/bg-stage-3.png'),
    url('../../images/cards/mobile/bg-stage-4.png');
}
.form-qty--mobile.form-qty:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  top: 20px;
  left: -20px;
  width: 360px;
  height: 1200px;
  background-blend-mode: normal;
  background-position: center -20px;
  background-repeat: no-repeat;
}
.form-qty--mobile.form-qty--5:before {
  background-image: url('../../images/cards/mobile/bg-cards-5.png');
}
.form-qty--mobile.form-qty--10:before {
  background-image: url('../../images/cards/mobile/bg-cards-10.png');
}
.form-qty--mobile.form-qty--100:before {
  background-image: url('../../images/cards/mobile/bg-cards-100.png');
}

.form-qty--mobile.form-qty:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: -20px;
  width: 360px;
  height: 1200px;
  background-blend-mode: normal;
  background-position: center -20px;
  background-repeat: no-repeat;
  background-image: url('../../images/cards/mobile/bg-cards-1.png');
}

.form-qty--mobile.form-stage--1.form-qty--:after {
  background-image: url('../../images/cards/mobile/bg-cards-1.png');
}
.form-qty--mobile.form-stage--1:after {
  background-image: url('../../images/cards/mobile/bg-cards-1.png');
}
.form-qty--mobile.form-stage--1.form-qty--more:after {
  background-image: url('../../images/cards/mobile/bg-stage-1b.png');
}
.form-qty--mobile.form-stage--2 {
  padding-bottom: 170px;
}
.form-qty--mobile.form-stage--2:after {
  background-image: url('../../images/cards/mobile/bg-stage-2.png');
}
.form-qty--mobile.form-stage--3:after {
  background-image: url('../../images/cards/mobile/bg-stage-3.png');
}
.form-qty--mobile.form-stage--4:after {
  background-image: url('../../images/cards/mobile/bg-stage-1a.png');
}

/* label DESKTOP -----------------------------------------*/

.form-qty--desktop.form-qty > form > div:first-child:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  background-image: url('../../images/cards/desktop/bg-cards-1.png'),
    url('../../images/cards/desktop/bg-cards-5.png'),
    url('../../images/cards/desktop/bg-cards-10.png'),
    url('../../images/cards/desktop/bg-cards-100.png'),
    url('../../images/cards/desktop/bg-stage-1a.png'),
    url('../../images/cards/desktop/bg-stage-1b.png'),
    url('../../images/cards/desktop/bg-stage-1c.png'),
    url('../../images/cards/desktop/bg-stage-2.png'),
    url('../../images/cards/desktop/bg-stage-3.png'),
    url('../../images/cards/desktop/bg-stage-4.png');
  /*display: none;*/
}
.form-qty--desktop.form-qty:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  top: -6px;
  left: -60px;
  width: 760px;
  height: 1200px;
  background-blend-mode: normal;
  background-position: center -20px;
  background-repeat: no-repeat;
}
.form-qty--desktop.form-qty--5:before {
  background-image: url('../../images/cards/desktop/bg-cards-5.png');
  left: -109px;
}
.form-qty--desktop.form-qty--10:before {
  background-image: url('../../images/cards/desktop/bg-cards-10.png');
  left: -85px;
}
.form-qty--desktop.form-qty--100:before {
  background-image: url('../../images/cards/desktop/bg-cards-100.png');
  left: -61px;
}

.form-qty--desktop.form-qty:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -150px;
  width: 760px;
  height: 1200px;
  background-blend-mode: normal;
  background-position: center -20px;
  background-repeat: no-repeat;
  background-image: url('../../images/cards/desktop/bg-stage-1a.png');
}

.form-qty--desktop.form-stage--1.form-qty--:after {
  background-image: url('../../images/cards/desktop/bg-cards-1.png');
}
.form-qty--desktop.form-stage--1.form-details:after {
  background-image: url('../../images/cards/desktop/bg-stage-1c.png');
}
.form-qty--desktop.form-stage--1:after {
  background-image: url('../../images/cards/desktop/bg-cards-1.png');
}
.form-qty--desktop.form-stage--1.form-qty--more:after {
  background-image: url('../../images/cards/desktop/bg-stage-1b.png');
}
.form-qty--desktop.form-stage--2 {
  padding-bottom: 50px;
}
.form-qty--desktop.form-stage--2:after {
  background-image: url('../../images/cards/desktop/bg-stage-2.png');
}
.form-qty--desktop.form-stage--3:after {
  background-image: url('../../images/cards/desktop/bg-stage-4.png');
}
.form-qty--desktop.form-stage--4:after {
  background-image: url('../../images/cards/desktop/bg-stage-3.png');
}
